body{
    width: 100%;
    height: 100%;
}

.container{
    width: 90%;
    max-width: 1024px;
    height: 100%;
    margin:0 auto;
    padding-top: 80px;
    padding-bottom: 180px;
}
.navigation-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: hsl(236, 13%, 42%);
}
.opt{
    display: none;
}
.options{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.body{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: hsl(231, 10%, 37%);
    gap: 30px;
}
.left{
    width: 70%;
}
.image-desktop{
    width: 100%;
}
.text{
    display: flex;
    flex-direction: row;
}
.text h1{
    width: 180px;
    height: fit-content;
}
.text p{
    width: 300px;
    height: fit-content;
}
.right{
    width: 30%;
    padding: 20px;
    background-color: hsl(240, 100%, 5%);
    color: hsl(236, 13%, 42%);
    border-bottom: 2px;
}
.right h2{
    color: hsl(35, 77%, 62%);
}
.right h3{
    color: white;
}
.bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: hsl(231, 10%, 37%);
}
.tex h1{
    color: hsl(35, 77%, 62%);
}
.tex h2{
    color: black;
}
.bold{
    color: hsl(240, 100%, 5%);
    font-weight: 900;
}
.retro{
    width: 100px;
    height: 180px;
}
.top-laptops{
    width: 100px;
    height: 180px;
}
.gaming-growth{
    width: 100px;
    height: 180px;
}

@media (max-width: 768px) {
    .opt{
        display: block;
    }
    .options{
        display: none;
    }
    .body {
        flex-direction: column;
    }
    .bottom {
        flex-direction: column;
    }
    .left {
        flex-direction: column;
    }
    .text {
        flex-direction: column;
    }
    .right {
        flex-direction: column;
    }
}